.wrong-pass{
  color: red;
  font-weight: 500;
}

.form-wrapper{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #ece4e4;
}

label{
  display: flex;
  justify-content: space-between;
}

input{
  padding: 2px;
  outline: none;
}

.input-wrap{
  padding: 5px;
}

.button-login{
  background-color: #25ff2e;
  outline: none;
  padding: 5px 25px;
  border-radius: 6px;
  border: none;
  justify-content: center;
  align-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.22s;
}

.button-login:hover{
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button-login:active{
  background-color: #02d207;
}

.btn-wrap{
  display: flex;
  justify-content: space-between;
}



